[Unit]
Description=Synchronises the package repositories
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/sync-repos
TimeoutStopSec=30
KillMode=process
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
